// Quasar SCSS (& Sass) Variables
// --------------------------------------------------

// $primary: #f0f1eb;
// $primary: #62b1d6;
$primary: #0f172a;
$secondary: #43809d;
$accent: #fbfcfd;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
